In [33]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

In [37]:
chicago =pd.read_csv("dataset/Chicago_Crime_Detective.csv",index_col=0)

C:\Users\ajayk\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
chicago.head()

,ID,Date,LocationDescription,Arrest,Domestic,Beat,District,CommunityArea,Year
0,8951354,12/31/12 23:15,STREET,False,False,623,6,69,2012
1,8951141,12/31/12 22:00,STREET,False,False,1213,12,24,2012
2,8952745,12/31/12 22:00,RESIDENTIAL YARD (FRONT/BACK),False,False,1622,16,11,2012
3,8952223,12/31/12 22:00,STREET,False,False,724,7,67,2012
4,8951608,12/31/12 21:30,STREET,False,False,211,2,35,2012

In [4]:
chicago.dtypes

ID                      int64
Date                   object
LocationDescription    object
Arrest                   bool
Domestic                 bool
Beat                    int64
District               object
CommunityArea          object
Year                    int64
dtype: object

In [5]:
chicago['Date']=pd.to_datetime(chicago.Date )

In [6]:
dates=list(chicago.sort_values('Date')['Date'])
dates[len(dates)//2]

Timestamp('2006-05-21 12:30:00')

In [8]:
# prop=chicago.groupby(chicago['Date'].dt.strftime('%Y'))['count'].agg()

In [9]:
chicago['days']=chicago.Date.dt.day_name()

In [10]:
chicago.groupby(chicago['days'])['Arrest'].sum().sort_values()

days
Thursday     2087.0
Tuesday      2108.0
Monday       2176.0
Wednesday    2210.0
Saturday     2255.0
Sunday       2330.0
Friday       2370.0
Name: Arrest, dtype: float64

In [14]:
chicago['count']=1

In [15]:
#Arrest by day
grouped_day=chicago.groupby(chicago['days'])['Arrest'].sum().sort_values()
grouped_day

days
Thursday     2087.0
Tuesday      2108.0
Monday       2176.0
Wednesday    2210.0
Saturday     2255.0
Sunday       2330.0
Friday       2370.0
Name: Arrest, dtype: float64

In [16]:
Gas=chicago[chicago.LocationDescription=='GAS STATION']
Gas.groupby(Gas['days'])['count'].sum().sort_values()

days
Tuesday      270
Wednesday    273
Monday       280
Thursday     282
Friday       332
Sunday       336
Saturday     338
Name: count, dtype: int64

In [17]:
#Theft by day
grouped_day=chicago.groupby(chicago['days'])['count'].sum().sort_values()
grouped_day

days
Sunday       26316
Tuesday      26791
Saturday     27118
Thursday     27319
Monday       27397
Wednesday    27416
Friday       29284
Name: count, dtype: int64

In [18]:
chicago['LocationDescription'].value_counts().head(10)

STREET                            156564
PARKING LOT/GARAGE(NON.RESID.)     14852
OTHER                               4573
ALLEY                               2308
GAS STATION                         2111
DRIVEWAY - RESIDENTIAL              1675
RESIDENTIAL YARD (FRONT/BACK)       1536
RESIDENCE                           1302
RESIDENCE-GARAGE                    1176
VACANT LOT/LAND                      985
Name: LocationDescription, dtype: int64

In [19]:
#Theft by month
grouped=chicago.groupby(chicago['Date'].dt.strftime('%B'))['count'].sum().sort_values()
grouped

Date
February     13511
April        15280
March        15758
June         16002
May          16035
January      16047
September    16060
November     16063
December     16426
August       16572
July         16801
October      17086
Name: count, dtype: int64

In [20]:
#Theft by year
grouped=chicago.groupby(chicago['Date'].dt.strftime('%Y'))['count'].sum()
grouped

Date
2001    20669
2002    18753
2003    16657
2004    16862
2005    16484
2006    16098
2007    14280
2008    14445
2009    12167
2010    15497
2011    15637
2012    14092
Name: count, dtype: int64

In [21]:
#arrests by month
grouped=chicago.groupby(chicago['Date'].dt.strftime('%B'))['Arrest'].sum().sort_values()
grouped

Date
May          1187.0
June         1230.0
February     1238.0
September    1248.0
April        1252.0
November     1256.0
March        1298.0
July         1324.0
August       1329.0
October      1342.0
December     1397.0
January      1435.0
Name: Arrest, dtype: float64

In [22]:
#Arrests by year
grouped=chicago.groupby(chicago['Date'].dt.strftime('%Y'))['Arrest'].sum()
grouped

Date
2001    2152.0
2002    2115.0
2003    1798.0
2004    1693.0
2005    1528.0
2006    1302.0
2007    1212.0
2008    1020.0
2009     840.0
2010     701.0
2011     625.0
2012     550.0
Name: Arrest, dtype: float64

In [23]:
chicago.Date.dt.weekday_name

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

In [32]:
Top5=chicago[chicago.LocationDescription.isin(['STREET','PARKING LOT/GARAGE(NON.RESID.)','ALLEY','GAS STATION','DRIVEWAY - RESIDENTIAL'])]
Top5['count'].sum()

177510

In [ ]:
chicago['year']=chicago.Date.dt.year

In [ ]:
chicago.head()

In [ ]:
#no. of thefts by year
y=chicago.groupby(chicago.year)['count'].sum()
y

In [ ]:
a=chicago.groupby(chicago.year)['Arrest'].sum()
a

In [ ]:
sum=chicago['count'].sum()

In [ ]:
prop=a/y
prop